{% extends 'layout.html' %}
{% load static %}
{% block heading %}
    <h2>Download</h2>
    <a href="{% url 'dfva_upload'%}" >Back to Upload</a>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <input type="hidden" name="fileid" value="{{ fileid }}">
   <button type="submit" class="btn btn-primary" onclick="download()">Download {{ filename }}</button>

<script>
    function download(){
        return $.ajax({
                    url: "{% url 'file_download' fileid %}",
                    type: 'GET',
                    cache: false,
                    async: true,
                    dataType: 'text',
                    mimeType: 'text/plain; charset=x-user-defined',
                    beforeSend: function (xhr) {
                         xhr.setRequestHeader('Authorization', 'Token {{ csrf_token }}');
                    },
                    success: function(response, status, request) {
                                var link = document.createElement("a");
                                link.setAttribute("href", response);
                                link.setAttribute("download", "{{ filename }}.xml");
                                link.style.visibility = 'hidden';
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                                window.location.href = "{% url 'home' %}";
                    }
         });
    }

</script>
{% endblock %}