{% extends 'layout.html' %}
{% load static home_tag %}
{% block heading %}
{% endblock %}

{% block title %}
<h5>Formulario de firmado </h5>
{% endblock %}

{% block content %}

  <form  action="{% url 'file_resume' fileid%}" method="post" id="resume-form" role="form">
      {% csrf_token %}
    <div class="form-group">
      <label for="resume">Nombre</label>
      <input type="text" name='resume' class="form-control" id="name" placeholder="Ingrese un resumen"  value="{{file_uploaded.filename}}" readonly>
    </div>
    <div class="form-group">
      <label for="resume">Resumen</label>
      <input type="text" name='resume' class="form-control" id="resume" placeholder="Ingrese un resumen"  value="{% if file_sign%}{{file_sign.resume}}{% endif %}" required>
      <small class="form-text text-muted">Complete este campo con el resumen del archivo.</small>
    </div>
    {% if is_pdf %}
      <div class="form-group">
        <label for="place">Lugar</label>
        <input type="text" name='place' class="form-control" id="place" placeholder="Lugar"  value="{% if file_sign%}{{file_sign.place}}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="reason">Razón</label>
        <input type="text" name='reason' class="form-control" id="reason" placeholder="Razón"  value="{% if file_sign%}{{file_sign.reason}}{% endif %}" required>
      </div>
    {% endif%}
    <hr class="mb-4">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}