<!doctype html>
{% load static %}
<html>
    <head>
        <title>DFVA Web Client</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block heading %} {% endblock %}
        {% block stylesheet %} {% endblock %}
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  {% block content %}{% endblock %}
                  {% block script %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>